google-api-python-client
google-auth-oauthlib
google-auth-httplib2
youtube-transcript-api
langid
spacy
gensim
bertopic
pre-commit
spacytextblob
pyarrow
pytube
youtube_comment_downloader
python-dotenv
aiocache
jsonlines
types-protobuf
grpcio-tools
grpc-interceptor~=0.12.0
pytest
pyperclip
matplotlib
